* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}
